# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# PyCharm
.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Nuestro proyecto
*.log
resultados_joyal.txt
joyal_resultados.txt
output/
temp/

# PyGame cache
*.pygame_cache
